body {
    background-color: #15171a;
    color: aliceblue;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.card {
    width: 400px;
    height: 350px;
    margin: 50px auto;
    padding: 50px;
    border: 2px solid #cccccc6c;
    border-radius: 10px;
}

.card-title {
    text-align: center;
    margin: 30px;
    font-size: 30px;
}

.card-form {
    display: flex;
    flex-direction: column;
}

.card-form label {
    margin-bottom: 8px;
}

.input-email {
    background-color: #E9ECEF;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 15px;
    margin-bottom: 10px;
}

.input-email:hover {
    background: #DEE2E6;
}

.input-email:focus {
    background: #FFF;
    border: 2px solid #000;
}

.btn-sign {
    padding: 15px;
    background-color: #1971C2;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
}

.btn-sign:hover {
    background: #1865AB;
}

.btn-sign:focus {
    border: 1px solid #000;
}